*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 61.5%; }

body {
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box;
  color: whitesmoke; }

main {
  background-image: linear-gradient(to bottom, #5b89a6, #021526);
  height: 100vh; }

.header {
  border-bottom: 1px solid whitesmoke;
  width: 80%;
  margin: 0 auto; }

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 5rem;
  text-align: center;
  padding: 1rem 0; }

input {
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: whitesmoke;
  display: block;
  margin: 1rem auto;
  background: none;
  border-radius: 3px;
  border: 1px solid whitesmoke; }
  input::placeholder {
    color: whitesmoke; }
  input, input text-area {
    background-color: #a3b2BF; }
  input:focus {
    outline: none; }

#Hexagram {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
  color: whitesmoke; }

.cast-btn {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  align-content: center;
  font-weight: 300;
  font-size: 1.6rem;
  width: 19rem;
  padding: 1rem;
  margin: auto auto;
  border: 1px solid whitesmoke;
  background: none;
  border-radius: 3px;
  color: whitesmoke; }
  .cast-btn:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(2, 21, 38, 0.2); }
  .cast-btn::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .cast-btn:focus, .cast-btn:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(2, 21, 38, 0.2); }
