// THE LINES
$old-yang: '===&nbsp;o&nbsp;===';       // --- o --- changing
$old-yin: '====x====';                  // --- x --- changing
$young-yang: '=========';               // ---------
$young-yin: '===&nbsp;&nbsp;&nbsp;==='; // ---   ---

// COLORS
