@import "./variables";


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 61.5%; 
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box; 
  color: whitesmoke
}

main {
  background-image: linear-gradient(to bottom, $color-primary-medium, $color-primary-dark);
  height: 100vh;
}

.header {
  border-bottom: 1px solid $color-white;
  width: 80%;
  margin: 0 auto
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 5rem;
  text-align: center;
  padding: 1rem 0;
}

input {
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 300;
  color:$color-white;
  display: block;
  margin: 1rem auto;
  background: none;
  border-radius: 3px;
  border: 1px solid $color-white;

  &::placeholder {
    color: $color-white
  }

  &, text-area {
    background-color: $color-primary-light;
  }

  &:focus {
    outline: none
  }
}

#Hexagram {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
  color: $color-white
}

.cast-btn {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  align-content: center;
  font-weight: 300;
  font-size: 1.6rem;
  width: 19rem;
  padding: 1rem;
  margin: auto auto;
  border: 1px solid whitesmoke;
  background: none;
  border-radius: 3px;
  color: whitesmoke;
  
  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
  }
  &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
  &:focus, 
  &:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black,.2);
  }
}